{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container">

<div class="row" style="padding-top: 25px">

<div class="col">
<div class="card" style="background-color:FAFAFA">
  <div class="card-body container">
  <div style="float:left; margin:0 20px 20px 0;">
  <img class="card-img" width="280" height="280" src="{% static 'images/home/sustainabl-fashion.jpg' %}" alt="Card image cap">
  </div>
  <div>
    <h5 class="card-title">Sustainable fashion</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">Sustainable fashion is a movement and process of fostering change to fashion products and the fashion system towards greater ecological integrity and social justice. Sustainable fashion concerns more than addressing fashion textiles or products. It comprises addressing the whole system of fashion.</p>
  </div>
  </div>
</div>
</div>
</div>

<div class="row" style="padding-top: 25px">
<div class="col">
<div class="card" style="background-color:FAFAFA">

<div class="card-body container">
  <div style="float:left; width:55%">
  <h5 class="card-title">Sustainable Electronics</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">Sustainable electronics are electronic products made with no toxic chemicals, recyclable parts, and reduced carbon emissions during production. "Sustainability is still very new, emerging business concept.</p>
  </div>
  <div style="float:right">
    <img class="card-img" width="280" height="280" src="{% static 'images/home/sustainable-electronics.jpg' %}" alt="Sustainable clothes">
  </div>
  </div>
  
</div>
</div>
</div>

<div class="row" style="padding-top: 25px">

<div class="col">
<div class="card" style="background-color:FAFAFA">
  <div class="card-body container">
  <div style="float:left">
  <img class="card-img" width="280" height="280" src="{% static 'images/home/sustainable-living.jpg' %}" alt="Card image cap">
  </div>
  <div style="float:right; width: 51%">
    <h5 class="card-title">Sustainable Living</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">“Sustainable living is a lifestyle that attempts to reduce an individual's or society's use of the Earth's natural resources and personal resources. Practitioners of sustainable living often attempt to reduce their carbon footprint by altering methods of transportation, energy consumption, and diet.</p>
  </div>
  </div>
</div>
</div>
</div>


</div>

{% endblock %}